body {
    background-image: url(img/wall.jpg);
}
.card{
    background-color: transparent;
    color: bisque;
    align-items: center;
}
.card-img-top{
    height: min-content;
    width: min-content;
    border-radius: 30px;
}
img:hover{
    opacity: 0.50 ;
}
